[Unit]
Description=RadarsMonitor - Radar visualization application
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/ykv3/RadarsMonitor/run.sh
WorkingDirectory=/home/ykv3/RadarsMonitor
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
User=ykv3

[Install]
WantedBy=multi-user.target

